*.DS_Store
vision_motor_ros/
__pycache__/

c_numpy_array_ex.c
test.py
YF_create_depth_image
call_python.c
pwm.py
text_to_speech_ex.py
vision_motor_ros.zip
mode_switching_no_interrupt.c
text_detection.py
